{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <style>
    .card-info {
        width: 530px;
        margin: auto;
        margin-top: 70px;
    }
  </style>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/home" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Registration Authority</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <div id="id03" class="cus-modal animate" style="margin-left: 300px;width:80%">
      <div class="card-info alert alert-info">
        <div class="card-header" style="font-size: 25px">
            Information
        </div>
        <div class="card-body">
            <h2 class="card-title">Election has began</h2>
            <p class="card-text">Come later and check the results</p>
            <button onclick="exitModal('id03')" class="btn btn-danger">Exit</button>
        </div>
      </div>
    </div>
    <div id="id04" class="cus-modal animate" style="margin-left: 300px;width:80%">
      <div class="card-info alert alert-info">
        <div class="card-header" style="font-size: 25px">
            Information
        </div>
        <div class="card-body">
            <h2 id='card-title-initiate' style="overflow-wrap: break-word" class="card-title"></h2>
            <button onclick="exitModal('id04')" class="btn btn-danger">Exit</button>
        </div>
      </div>
    </div>
    <nav class="header-nav ms-auto">
      <li class="nav-item dropdown pe-3">
        

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <span><button class="btn btn-info text-white" style="margin-bottom: 5px">Configure Election</button></span>
        </a>

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow" style="width: 240px">
          <div>
            <button class="btn btn-info text-white" onclick="createElection()">Initiate Election</button>
          </div>
          <div class="cus-dropdown">
            <button class="btn btn-info text-white">Start Election</button>
            <div class="cus-dropdown-content">
              <ul>
                <li class="dropdown-header">
                  <p>Election Start Time</p>
                  <form action="">
                    <div class="row mb-3">
                      <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                      <div class="col-sm-10">
                        <input type="date" id="start_date" class="form-control">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputTime" class="col-sm-2 col-form-label">Time</label>
                      <div class="col-sm-10">
                        <input type="time" id="start_time" class="form-control">
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
      
                <li class="dropdown-header">
                  <p>Election End Time</p>
                  <form action="">
                    <div class="row mb-3">
                      <label for="inputDate" class="col-sm-2 col-form-label">Date</label>
                      <div class="col-sm-10">
                        <input type="date" id="end_date" class="form-control">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputTime"  class="col-sm-2 col-form-label">Time</label>
                      <div class="col-sm-10">
                        <input type="time" id="end_time" class="form-control">
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
      
                <li>
                  <button onclick="startElection()" class="dropdown-item d-flex" style="text-align: center; display: block!important">
                    START ELECTION
                  </button>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>    
              </ul>
            </div>
          </div>
        </ul>
      </li>
    </nav>
    <script>
      function getEl(el){
        return document.getElementById(el);
      }
      function startElection(){
        x = getEl('start_time').value
        y = getEl('start_date').value

        a = getEl('end_time').value
        b = getEl('end_date').value

        let s_date = new Date(x + " " + y).getTime() / 1000;
        let e_date = new Date(a + " " + b).getTime() / 1000;
        
        debugger;
        data = {
          'start_date': s_date,
          'end_date': e_date
        }


        fetch('/start-election', {
          method: "POST",
          mode: "cors",
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(data=>data.json())
        .then(data=>{
          if(data['status'] == true){
            document.getElementById('id03').style.display='block'

          }
        })
      }

      function createElection(){
        fetch('/create-election')
        .then(x=>x.json())
        .then(x=>{
          el = document.getElementById('id04')
          el.style.display='block'
          
          y = document.getElementById('card-title-initiate')
          y.innerHTML = x.message
            
        })
      }
      function exitModal(arg){
        document.getElementById(arg).style.display='none'
      }
    </script>
  </header>

  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/check-results">
          <i class="bi bi-check2-all"></i><span>Check Results</span> </i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/get-contract-transactions">
          <i class="bi bi-journal-text"></i><span>View Transactions</span> </i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="bi bi-dash-circle"></i><span>Sign Out</span>
        </a>
      </li>
    </ul>
  </aside>

  {% block subbody %}
  {% endblock  %}
{% endblock %}