{% extends 'base-logged-in-pages.html' %}

{% block head %}
    <title>Election Transactions</title>
   
{% endblock  %}

{% block subbody %}
<main id="main" class="main">
    <div class="card-body pb-0">
    <h5 class="card-title">ELECTION TRANSACTIONS</h5>

    <div class="container">
        <div class="row">
            {% for trans in data['transactions'] %}
            <div class="col-6">
                <div class="card alert alert-info">
                    <div class="card-header" style="font-size: 12px">
                        VOTER ADDRESS <br/>
                        <hr/>
                        {{ trans['from_addr']}}
                    </div>
                    <div class="card-body">
                        <h2 class="card-title" style="color: #055160"> 
                            {% for ps in data['presidents'] %}
                                {% if 'candidates' in  trans['args'][1]%}
                                    {% if ps['id'] == trans['args'][1]['candidates']['president'] %}
                                    PRESIDENT :
                                        {{ps['name']}}
                                    {% endif %}
                                {% endif %}
                                {% if 'candidates' not in  trans['args'][1]%}
                                CONSENT <br/><br/>
                                Approved : True
                                {% endif %}
                            {% endfor %}
                        </h2>
                        <p class="card-text">
                            {% if 'ballot_info' in trans['args'][1] %}
                            PARLIAMENT :
                            {% for pr in data['parliaments'][trans['args'][1]['ballot_info']['constituency']] %}
                                {% if 'candidates' in  trans['args'][1]%}
                                    {% if pr['id'] == trans['args'][1]['candidates']['parliament'] %}
                                        {{pr['name']}}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>    
            {% endfor %}
        </div>
    </div>

    <script>
        data = null
    
        document.addEventListener("DOMContentLoaded", () => {

        var tmp = {};
        fetch('/get-result')
        .then(x=>x.json())
        .then(x=>{
            data = x
            console.log(data)
        })

        setTimeout(()=>{
            cands = data.result.candidates
            for(let i in cands){
                tmp[i] = []

                for(let j in cands[i]){
                    for(let k of data.cand_names){
                        if(+j == +k.id){
                            tmp[i].push({
                                value: cands[i][j],
                                name: k.name
                            })
                        }
                    }
                }
            }
            

            for(let i in tmp){
                console.log(tmp[i])
                echarts.init(document.querySelector("#" + i + "-chart")).setOption({
                    tooltip: {
                    trigger: 'item'
                    },
                    legend: {
                    top: '5%',
                    left: 'center'
                    },
                    series: [{
                    name: i,
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                        show: true,
                        fontSize: '18',
                        fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: tmp[i]
                    }]
                });
            }
            
        }, 3000)
      });

    </script>

    </div>
</main>
{% endblock %}