
  {% extends 'base-logged-in-pages.html' %}

  {% block head %}
    <title>Registration Authority</title>
   
  {%endblock%}

  {% block subbody%}


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="" style="margin-right: 5px"><button class="btn btn-info text-white" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" aria-label="Slide 2">Overview</button></li>
          <li class="" style="margin-right: 5px"><button class="btn btn-info text-white" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">Presidential</button></li>
          <li class=""><button class="btn btn-info text-white" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">Parliamentary</button></li>
        </ol>
      </nav>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-touch="false" data-bs-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                        <h3 class="card-title">Presidential Candidates</h3>
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          {{len(data['presidents'])}}
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info text-white" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2">View</button>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card info-card sales-card">
  
                        <div class="card-body">
                        <h3 class="card-title">Parliamentary Candidates</h3>
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          {{len(data['parliaments'])}}
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info text-white" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3">View</button>
                        </div>
                        </div>
        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card info-card sales-card">
  
                        <div class="card-body">
                        <h3 class="card-title">Constituency</h3>
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          {{len(data['constituency'])}}
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info text-white">View</button>
                        </div>
                        </div>
        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card info-card sales-card">
  
                        <div class="card-body">
                        <h3 class="card-title">Parties</h3>
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          {{len(data['parties'])}}
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info text-white">View</button>
                        </div>
                        </div>
        
                    </div>
                </div>
                
            </div>
        </div>
        <div class="carousel-item">
            <h3>President</h3>
            <div class="item-pres" id="item-pres">
                {% for p in data['presidents'] %}
                <div class="mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{p['image']}}" class="img-fluid rounded-start" style="max-height:400px" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h3 class="card-title">Name : {{p['name']}}</h3>
                          <p>Age :{{p['age']}}</p>
                          <p>Party : {{p['party_name']}}</p>
                          <p class="card-text">Description : {{p['description']}}</p>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="carousel-item">
          <div class="item-main" id="item-main">
            
            <h3>Member Of Parliaments</h3>
            <div class="item-parl" id="item-parl">
                {% for cons in data['constituency'] %}
                    <h4>{{cons}}</h4>
                    {% for parl in data['parliaments'] %}
                        {% if parl['constituency'] == cons %}
                        <div class="mb-3">
                            <div class="row g-0">
                              <div class="col-md-4">
                                <img src="{{parl['image']}}" class="img-fluid rounded-start" style="max-height:400px" alt="...">
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h3 class="card-title">Name : {{parl['name']}}</h3>
                                  <p>Age :{{parl['age']}}</p>
                                  <p>Party : {{parl['party_name']}}</p>
                                  <p class="card-text">Description : {{parl['description']}}</p>
                                </div>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  {%endblock%}
